/*member count good lookin'*/
div#MemberCount.membersGroup-v9BXpm {
    padding-top: 0px !important;
    height: 20px;
    padding-right: 22px !important;
}

/*reaction button beside msg*/
.containerCozy-336-Cz.container-206Blv.da-containerCozy.da-container {
    position: relative;
    display: inline-block;
}
.markup-2BOw-j.da-markup {
    display: inline-block;
}
.da-containerCozyBounded.da-containerCozy.da-container:hover .button-3Jq0g9.da-button,
.da-containerCozyBounded.da-containerCozy.da-container:hover .reactionBtn-2na4rd.da-reactionBtn {
    visibility: visible;
}

/*better spoiler*/
.spoiler-1PPAUc.hiddenSpoilers-1ksnR6 {
    -webkit-filter: blur(44px);
    filter: blur(14px);
    pointer-events: none;
    transition: all 0.4s;
}
.da-hidden:hover .spoiler-1PPAUc.hiddenSpoilers-1ksnR6 {
    filter: blur(0) !important;
}
.spoilerWarning-2aAZq1.da-spoilerWarning {
    transition: all 0.4s;
}
.da-hidden:hover .spoilerWarning-2aAZq1.da-spoilerWarning {
    opacity: 0;
}
#app-mount .emojiPicker-3m1S-j .scroller-3vODG7 .row-3j9Kuo {
    width: calc(100% - 30px);
}
#app-mount .emojiPicker-3m1S-j, #app-mount .emojiPicker-3m1S-j .scroller-3vODG7, #app-mount .emojiPicker-3m1S-j .scrollerWrap-PyxcLY, #app-mount .emojiPicker-3m1S-j .dimmer-3iH-5D, #app-mount #bda-qem-twitch-container, #app-mount #bda-qem-favourite-container {
    height: 512px;
    width: var(--epWidth);
}
.markup-2BOw-j.da-markup a.anchor-3Z-8Bb {
    color: var(--nox-accent);
}
:selection {
    background: var(--nox-accent) !important;
    color: #fff;
}
:root {
    --nox-accent: #fb3568 !important;
    --nox-notification-color: #fff;
    --nox-important-notification: #e71b56;
}
/* emoji picker fix */
.row-3j9Kuo.da-row {
    width: 70% !important;
}
.emojiPicker-3m1S-j.da-emojiPicker {
    height: 640px !important;
}
#app-mount .emojiPicker-3m1S-j .categories-1feg4n {
    left: 0px !important;
    height: 44px;
}
/* AURORA */
/*
.channels-Ie2l6A {
    -ms-flex-negative: 0;
    background-color: #2f3136;
    flex-shrink: 0;
    width: 320px;
}
*/

/* screen sharing top bar fix */
.videoHeight-Qp_9vC.da-videoHeight.normal-1jW0uq.wrapper-29NfPK.da-wrapper.normal-2GSW0u.animated-UtE465.da-animated {
    top: 0px;
}

.scroller-2FKFPG.firefoxFixScrollFlex-cnI2ix.da-scroller.da-firefoxFixScrollFlex.systemPad-3UxEGl.da-systemPad.members-1998pB.da-members {
    height: calc(100% - 48px) !important;
    bottom: 0px;
    position: absolute;
}
.wrapper-2lTRaf, .wrapper-1BJsBx .childWrapper-anI2G9 {
    border-radius: 50px !important;
}

/* uh */

/*
 *
 *	SCROLLBARS
 *
 */
.modal-1sor29 .scroller-2FKFPG {
  min-height: 16px; }

.scroller-1IIF0A,
.scroller-9moviB,
.scroller-2FKFPG {
  background-color: transparent; }

.scroller-fzNley::-webkit-scrollbar-track {
  border-radius: 0 !important; }

.scroller-fzNley::-webkit-scrollbar-track,
.channels-3g2vYe .scroller-fzNley::-webkit-scrollbar-track,
.channel-members::-webkit-scrollbar-track,
.root-2sNHUF::-webkit-scrollbar-track,
.ui-standard-sidebar-view .sidebar-region .scroller-fzNley::-webkit-scrollbar-track,
.ui-standard-sidebar-view .content-region .scroller-fzNley::-webkit-scrollbar-track {
  background: transparent !important; }

.menu-Sp6bN1:not(.alt-3btY0e)::-webkit-scrollbar-track,
.root-SR8cQa::-webkit-scrollbar-track {
  background: #2c2f33 !important; }

.body-3rkFrF::-webkit-scrollbar,
.body-3ljq11::-webkit-scrollbar,
.root-2sNHUF::-webkit-scrollbar,
.menu-Sp6bN1:not(.alt-3btY0e)::-webkit-scrollbar,
.textArea-12jD-V::-webkit-scrollbar {
  width: 10px !important;
  height: 10px !important; }

.body-3rkFrF::-webkit-scrollbar-track,
.body-3ljq11::-webkit-scrollbar-track,
.menu-Sp6bN1:not(.alt-3btY0e)::-webkit-scrollbar-track,
.textArea-12jD-V::-webkit-scrollbar-track {
  margin: 0 !important; }

::-webkit-scrollbar {
  position: absolute;
  width: 10px !important;
  height: 10px !important;
  background: transparent; }

.scrollerWrap-2lJEkd.themeHidden-2yP93k::-webkit-scrollbar,
.scrollerWrap-2lJEkd.themeHidden-2yP93k .scroller-2FKFPG::-webkit-scrollbar {
  width: 0px !important; }

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0) !important; }

::-webkit-scrollbar-track-piece {
  border: 0 solid transparent !important;
  background-color: transparent !important;
  margin: 0; }

::-webkit-scrollbar-thumb {
  display: initial;
  background-color: rgba(255, 255, 255, 0.1) !important;
  border: 0 solid transparent !important;
  border-radius: 0 !important; }

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.125) !important; }

::-webkit-scrollbar-thumb:active {
  display: initial;
  background-color: rgba(255, 255, 255, 0.15) !important; }
.menu-3sdvDG#status-picker .scroller-3BxosC::-webkit-scrollbar {
  width: 0 !important; }
.menu-3sdvDG#guild-header-popout .scroller-3BxosC::-webkit-scrollbar {
  width: 0 !important; }
.styleFlexible-wGDiIL .scroller-3BxosC::-webkit-scrollbar {
  width: 0 !important; }
.Select .scroller-fzNley::-webkit-scrollbar {
  width: 4px !important; }
.wrapper-1Rf91z .scroller-2TZvBN::-webkit-scrollbar {
  width: 0 !important; }
  
.Select-menu-outer,
.select-2TCrqx .Select-control,
.ui-select > .Select .Select-menu-outer,
.itemSubMenu-3ZgIw-
.container-2YgzWd,
.container-1nZlH6,
.popoutList-T9CKZQ,
.scroller-3J0bdT,
.emojiPicker-3g68GS,
.emojiPicker-3g68GS .header-27dQ-e .search-bar,
.emojiPicker-3g68GS .scrollerWrap-EC-dSj,
.emojiPicker-3g68GS .stickyHeader-3LjM5X,
.emojiPicker-3g68GS .category-3rCtoh,
.diversitySelector-O3ea2c .popout-2lja3I,
.emojiPicker-3m1S-j,
.emojiPicker-3m1S-j .header-1nkwgG .search-bar,
.emojiPicker-3m1S-j .category-2U57w6,
.diversitySelector-tmmMv0 .popout-2nUePc,
.container-3cGP6G,
.container-3ayLPN,
.gameSelector-24sFfz,
.quickswitcher-3JagVE,
.themed-popout .header,
.themed-popout .footer,
.private-channel-recipients-invite .body,
.incomingCallInner-2rV0UJ,
.bda-dark #bda-qem,
.bda-dark #bda-qem-favourite-container,
.bda-dark #bda-qem-twitch-container,
.uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .bgScale-1otPtc,
.overflowRolesPopout-140n9i,
.overflowRolesPopoutArrow-2O66oH,
.bf-toolbar:before,
.colorPickerCustom-2CWBn2,
.popout-2xBvMR {
  background: var(--popout-alt) !important; }

.body-3iLsc4,
.footer-1fjuF6,
.themed-popout,
.messagesPopoutWrap-1MQ1bW,
.themed-popout .header {
  background-color: var(--popout-alt) !important; }
.tabBarContainer-1s1u-z,
.activity-1ythUs {
  border: none !important; }

.activity-1ythUs .gameIcon-_0rmMm {
  border-radius: 50%; }

.topSectionNormal-2-vo2m .tabBarContainer-1s1u-z,
.topSectionNormal-2-vo2m .activity-1ythUs {
  background: rgba(0, 0, 0, 0.1) !important;
  border-top: none !important; }

.headerPlaying-2eYqm9,
.headerPlaying-2Q7mBy,
.headerPlaying-j0WQBV {
  background: var(--popout-color) !important; }

.topSectionNormal-2-vo2m,
.topSectionPlaying-1J5E4n {
  background: var(--popout-color) !important; }

.listScroller-2_vlfo {
  padding: 16px 0; }

.headerNormal-T_seeN {
  background: var(--popout-color) !important; }

.headerTop-1QGMLs,
.headerTop-27AvhA,
.headerTop-3C2Zn0,
.header-2Lg0Oe,
.header-QKLPzZ,
.connectionHeader-2MDqhu {
  background: rgba(0, 0, 0, 0.15); }

.activity-11LB_k,
.headerFill-adLl4x {
  background: transparent !important; }

.activity-11LB_k,
.body-3iLsc4 {
  padding: 12px; }

.customStatusText-3YJeRZ {
  font-weight: 500; }

.activity-11LB_k .gameIcon-_0rmMm {
  border-radius: 50%; }

.lookOutlined-3sRXeN.colorWhite-rEQuAQ:disabled,
.lookOutlined-3sRXeN.colorWhite-rEQuAQ:disabled:hover {
  background: #fff !important;
  box-shadow: none !important; }

.headerSpotify-zpWxgT .activity-11LB_k button,
.headerStreaming-2FjmGz .activity-11LB_k button {
  width: 100% !important;
  background: #fff !important;
  box-shadow: var(--shadow-button) !important; }

.headerSpotify-zpWxgT .activity-11LB_k button:hover,
.headerStreaming-2FjmGz .activity-11LB_k button:hover {
  background: #fff !important;
  box-shadow: var(--shadow-button-hover) !important; }

.headerSpotify-zpWxgT .activity-11LB_k button:active,
.headerStreaming-2FjmGz .activity-11LB_k button:active {
  background: #fff !important;
  box-shadow: var(--shadow-button-active) !important; }

.listeningActionsUserPopout-Ga2V_N .button-1Pkqso:first-child {
  width: 100% !important;
  min-width: 36px !important;
  min-height: 36px !important;
  padding: 0 !important; }

.disabledButtonOverlay-2DA5FI {
  min-width: 36px !important;
  min-height: 36px !important; }

.listeningActionsUserPopout-Ga2V_N .buttonSize-2Pmk-w:not(:first-child) {
  min-width: 36px !important;
  padding: 0 !important; }

.topSectionSpotify-1lI0-P .listeningActionsProfile-1fYwru .sizeMedium-1AC_Sl:first-child {
  padding: 0 !important; }

.topSectionSpotify-1lI0-P .listeningActionsProfile-1fYwru .sizeMedium-1AC_Sl .sizeMedium-1AC_Sl,
.topSectionSpotify-1lI0-P .listeningActionsProfile-1fYwru .sizeMedium-1AC_Sl.lookOutlined-3sRXeN {
  padding: 0 16px !important; }

.listeningActionsUserPopout-Ga2V_N .button-1Pkqso:last-child button,
.topSectionSpotify-1lI0-P .listeningActionsProfile-1fYwru .button-1Pkqso:last-child button {
  padding: 0 !important; }

.listeningActionsProfile-1fYwru .button-1Pkqso:not(:first-child),
.listeningActionsUserPopout-Ga2V_N .button-1Pkqso:not(:first-child) {
  min-width: 36px !important;
  padding: 0 !important; }

.headerSpotify-zpWxgT .activity-11LB_k button:active,
.headerStreaming-2FjmGz .activity-11LB_k button:active {
  background: #fff !important;
  box-shadow: var(--shadow-3dp) !important; }

.headerSpotify-1fSJPO .activity-AFBUEw button.disabled-uc2Cqc,
.headerSpotify-26yUf5 .activity-3NviKQ button.disabled-uc2Cqc,
.headerStreaming-3F-wjT .activity-AFBUEw button.disabled-uc2Cqc,
.headerStreaming-lmgoma .activity-3NviKQ button.disabled-uc2Cqc {
  box-shadow: none !important; }

.headerSpotify-zpWxgT .activity-11LB_k button {
  color: var(--spotify-color) !important; }

.headerSpotify-zpWxgT .activity-11LB_k button use {
  fill: var(--spotify-color); }

.headerStreaming-2FjmGz .activity-11LB_k button {
  color: var(--stream-color) !important; }

.headerStreaming-2FjmGz .activity-11LB_k button use {
  fill: var(--stream-color); }

.topSectionSpotify-1lI0-P button,
.topSectionStreaming-1Tpf5X button,
.topSectionXbox-3fWLjS button,
.headerStreaming-lmgoma button {
  background: #fff !important; }

.topSectionSpotify-1lI0-P button {
  color: var(--spotify-color) !important; }

.topSectionSpotify-1lI0-P use {
  fill: var(--spotify-color) !important; }

.topSectionXbox-3fWLjS button {
  color: var(--xbox-color) !important; }

.topSectionSpotify-1lI0-P .assetsLargeImageProfile-3YXDex,
.headerSpotify-zpWxgT .assetsLargeImageUserPopout-3Pp8BK {
  border-radius: 50%; }

.headerStreaming-2FjmGz {
  background: var(--stream-color) !important; }

.topSectionStreaming-1Tpf5X button,
.headerStreaming-lmgoma button {
  color: var(--stream-color) !important; }

.topSectionStreaming-1Tpf5X use,
.headerStreaming-lmgoma use {
  fill: var(--stream-color) !important; }

/* no capn kitten style */
.theme-dark .tooltipBlack-PPG47z .tooltipPointer-3ZfirK, .theme-light .tooltipBlack-PPG47z .tooltipPointer-3ZfirK {
    border: none;
}
.searchBar-6Kv8R2 {
    box-shadow: none;
}
.textArea-12jD-V.da-textArea.textAreaSlate-1ZzRVj.da-textAreaSlate.slateContainer-3Qkn2x.da-slateContainer {
    /*background: var(--colorNewLight);*/
    background: var(--colorNewDefault);
    border-radius: 30px;
}

.textArea-12jD-V.da-textArea.textAreaSlate-1ZzRVj.da-textAreaSlate.slateContainer-3Qkn2x.da-slateContainer>div {
    padding-left: 20px;
}
/* message input + btns */
button.attachButton-2WznTc.da-attachButton.button-38aScr.da-button.lookBlank-3eh9lL.colorBrand-3pXr91.grow-q77ONN.da-grow.noFocus-2C7BQj.da-noFocus {
    /*background: var(--colorNewLight);*/
    background: var(--colorNewDefault);
    border-radius: 30px;
    margin-right: 10px;
    transition: all 0.2s;
}
button.attachButton-2WznTc.da-attachButton.button-38aScr.da-button.lookBlank-3eh9lL.colorBrand-3pXr91.grow-q77ONN.da-grow.noFocus-2C7BQj.da-noFocus:hover {
    /*background: var(--colorNewLighter);*/
    background: var(--colorNewLight);
    transition: all 0.1s
}
[class^="buttons"]>button,
[class^="buttons"]>div {
    /*background: var(--colorNewLight);*/
    background: var(--colorNewDefault);
    border-radius: 30px;
    margin-left: 10px;
    transition: all 0.2s;
}

[class^="buttons"]>button:hover,
[class^="buttons"]>div:hover {
    /*background: var(--colorNewLighter);*/
    background: var(--colorNewLight);
    transition: all 0.1s;
}
button.buttonWrapper-1ZmCpA.da-buttonWrapper.button-38aScr.da-button.lookBlank-3eh9lL.colorBrand-3pXr91.grow-q77ONN.da-grow.noFocus-2C7BQj.da-noFocus {
    min-width: 44px;
}
button.emojiButtonNormal-TdumYh.emojiButton-3uL3Aw.da-emojiButtonNormal.da-emojiButton.emojiButton-pET4wH.button-318s1X.da-emojiButton.da-button.button-38aScr.da-button.lookBlank-3eh9lL.colorBrand-3pXr91.grow-q77ONN.da-grow.noFocus-2C7BQj.da-noFocus,
button.emojiButtonHovered-1rWNal.emojiButton-3uL3Aw.da-emojiButtonHovered.da-emojiButton.emojiButton-pET4wH.button-318s1X.da-emojiButton.da-button.button-38aScr.da-button.lookBlank-3eh9lL.colorBrand-3pXr91.grow-q77ONN.da-grow.noFocus-2C7BQj.da-noFocus {
    margin-right: 55px !important;
}
/* - - - - - - - - */
.content-3at_AU,
.layout-2DM8Md,
.listContent-2_qb-y > div,
.emojiItemMedium-_WAwGB,
.theme-dark #bd-settings-sidebar .ui-tab-bar-item,
.side-8zPYf6 .item-PXvHYJ, #bd-settings-sidebar .ui-tab-bar-item, #pubslayer .ui-tab-bar-item,
.privateChannels-1nO12o .channel-2QD9_O {
    /*border-radius: 30px;*/
}
.mention-1f5kbO,
.numberBadge-2s8kKX.base-PmTxvP.da-numberBadge.da-base {
    background-color: var(--colorNewRed) !important;
}
/*
nav[class^='wrapper'], nav[class^='wrapper']>div[class^='scroller'] {
    background: var(--colorNewDarker) !important;
}*/
/* action menu */
.colorDefault-2K3EoJ.focused-3afm-j {
    background-color: var(--colorNewDefault);
}
.colorDefault-2K3EoJ.focused-3afm-j .checkbox-3s5GYZ,.colorDefault-2K3EoJ.focused-3afm-j .radioSelection-1HmrQS,.colorDefault-2K3EoJ.focused-3afm-j .subtext-13Lvrj {
    color: #fff
}
.colorDefault-2K3EoJ:active:not(.hideInteraction-1iHO1O) {
    background-color: var(--colorNewDefault);
}

.colorDanger-2qLCe1,.colorDanger-2qLCe1 .checkbox-3s5GYZ,.colorDanger-2qLCe1 .radioSelection-1HmrQS {
    color: var(--colorNewRed);
}
.colorDanger-2qLCe1.focused-3afm-j {
    background-color: var(--colorNewRed);
    color: #fff  !important
}
.colorDanger-2qLCe1.focused-3afm-j .check-1JyqgN {
    color: var(--colorNewRed)
}
.colorDanger-2qLCe1:active:not(.hideInteraction-1iHO1O) {
    background-color: var(--colorNewRed);
}
/* - - - - - - - - - */
.searchBar-3dMhjb.da-searchBar {
    background: var(--colorNewLight);
    border-radius: 20px;
    transition: all 0.2s;
}

.container-3baos1.da-container {
    background: var(--colorNewDark);
}

button.button-14-BFJ.da-button.enabled-2cQ-u7.da-enabled.button-38aScr.da-button.lookBlank-3eh9lL.colorBrand-3pXr91.grow-q77ONN.da-grow {
    border-radius: 30px;
}
.headerInfo-30uryT.da-headerInfo>div>div {
    color: var(--colorNewWhiteAlt);
}
.emojiItem-14v6tW.emojiItemSelected-1aLkfV {
    background: var(--colorNewLight);
}
/*
.form-2fGMdU {
    margin-bottom: -18px !important;
    margin-top: 6px;
}*/



/* -- material discord -- */

:root {
	--accent-color: #eb2f6e;
	--accent-color-hover: #eb2f6e;
	--accent-color-active: #eb2f6e;
	--accent-rgb: #eb2f6e66;

	--card-color: #1e2024;
	--card-games: #2a2c30;
	--card-shadow-border: 0 1px 0 0 #333;
	--card-border-color: 1px solid #333;
	--card-games-border-color: #444;

	--success-color: #1db954;

	--alert-color: #f04747;
	--alert-color-hover: #f74a4a;
	--alert-color-active: #fa5c5c;

	--main-color: #16171a;
	--main-alt: #0f1012;
	--message-color: #292d30;
	--message-alt: #1c1e21;

	--code-color: #1d1e21;

	--chat-color: #202225;
	--popout-color: #202225;
	--popout-alt: #2c2f33;
	--server-bg: #232327;
	--status-picker-color: #191b1f;

	--spotify-color: #1db954;
	--stream-color: #593695;
	--xbox-color: #107c10;

	--input-color: #272a2e;
	--hover-color: rgba(255,255,255,0.05);
	--select-color: rgba(255,255,255,0.1);


  /* #3f51b5 */
  --colorNewDarker: #1C1B29;
  --colorNewDark: #292841;
  --colorNewDefault: #312F51;
  --colorNewLight: #423F71;
  --colorNewLighter: #615caa;
  --colorNewWhite: #DBE7FF; /*DBE7FF*/
  --colorNewWhiteAlt: #BDBAEB; /*BDBAEB*/
  --colorNewWhiteAltMuted: #BDBAEB78;
  --colorNewRed: #E7366B;
  --colorNewGreen: #6ADBC6;
  --colorNewYellow: #FDD171;
  --colorNewPurple: #8069db;
  --colorNewDefaultAlpha: #312F51ee;
  --colorNewAccent: #EB2F6E;
  
  --accent-rgb-text-color: #fff;
  --accent-button-action: #fff;
  --accent-button-action-hover: 0.06;
  --accent-button-action-active: 0.12;
  --accent-text-color: #fff;
  --notification-color: var(--colorNewWhiteAlt);
  --audio-flash: 63,81,181;
  --card-color: var(--colorNewDark);
  --card-alt: var(--colorNewDark);
  --card-shadow-border: 0 1px 0 0 var(--colorNewDefault);
  --card-border-color: var(--colorNewDefault);
  --card-header-text-color: var(--colorNewWhiteAlt);
  --success-color: var(--colorNewGreen);
  --alert-color: var(--colorNewRed);
  --alert-button-action: #fff;
  --alert-button-action-hover: 0.1;
  --alert-button-action-active: 0.2;
  --alert-text-color: #fff;
  --main-color: var(--colorNewDarker); /*  background directmessages */
  --main-alt: var(--colorNewDarker); /* window top bar */
  --message-color: var(--colorNewDefault); /*  message bubbles */
  --message-alt: var(--colorNewDefault); 
  --code-color: var(--colorNewDark); /*code blocks*/
  --chat-color: var(--colorNewDark);  /* chat background */
  --popout-color: var(--colorNewDarker); 
  --popout-alt: var(--colorNewDark);
  --popout-dark: var(--colorNewDarker);
  --server-bg: var(--colorNewDark);
  --status-picker-color: var(--colorNewDarker);
  --sidebar-panel-color: var(--colorNewDarker);
  --spotify-color: #1db954;
  --stream-color: #593695;
  --stream-flash: 89,54,149;
  --xbox-color: #107c10;
  --input-color: #272a2e;
  --hover-color: var(--colorNewDefault);
  --select-color: var(--colorNewDefault);
  --menu-item-hover: var(--colorNewDefault);
  --menu-item-select: var(--select-color);
  --border-radius: 5px;
  --border-radius-big: 10px;
  --border-radius-bar: 3px;
  --slider-background: #4f545c;
  --default-animation: cubic-bezier(0.4,0,0.2,1);
  --shadow-1dp: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.12);
  --shadow-2dp: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.2);
  --shadow-3dp: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
  --shadow-button: 0 3px 1px -2px rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12);
  --shadow-button-hover: 0 2px 4px -1px rgba(0,0,0,0.2), 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12);
  --shadow-button-active: 0 5px 5px -3px rgba(0,0,0,0.2), 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12);
  /* PLUGIN VARIABLES -> Citator */
  --message-color-citator: #323539;
  /* NEW VARIABLES */
  --new-messages-radius: 19px;
  --main-textarea-color: #303338;
  --main-textarea-border: #3e434a;
  
  /* discord   var overwrite */
  --rs-online-color: var(--colorNewGreen);
  --rs-dnd-color: var(--colorNewRed);
  --rs-idle-color: var(--colorNewYellow);
  --rs-streaming-color: var(--colorNewPurple);
  --rs-offline-color: var(--colorNewWhiteAltMuted);
  
  --header-primary: var(--colorNewWhiteAlt);
  --header-secondary: var(--colorNewWhiteAlt);
  --channels-default: var(--colorNewWhiteAlt);
  --text-normal: var(--colorNewWhiteAlt);
  --text-muted: var(--colorNewWhiteAltMuted);
  --text-link: var(--colorNewAccent);
  --interactive-normal: var(--colorNewWhiteAlt);
    --interactive-hover: var(--colorNewWhite);
    --interactive-active: var(--colorNewWhite);
    --interactive-muted: var(--colorNewWhiteAltMuted);
    --background-primary: var(--colorNewDefault);
    --background-secondary: var(--colorNewDark);
    --background-secondary-alt: var(--colorNewDark);
    --background-tertiary: var(--colorNewDark);
    --background-accent: var(--colorNewAccent);
    --background-floating: var(--colorNewDark);
    --background-mobile-primary: var(--colorNewDefault);
    --background-mobile-secondary: var(--colorNewDark);
    --background-modifier-hover: var(--colorNewDefault);
    --background-modifier-active: var(--colorNewDefault);
    --background-modifier-selected: var(--colorNewDefault);
    --background-modifier-accent: var(--colorNewDefault);
    --background-mentioned: rgba(250,166,26,0.05);
    --background-mentioned-hover: rgba(250,166,26,0.08);
    --background-message-hover: rgba(4,4,5,0.07);
    --scrollbar-thin-thumb: var(--colorNewDarker);
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-thumb: #202225;
    --scrollbar-auto-track: #2e3338;
    --scrollbar-auto-scrollbar-color-thumb: #202225;
    --scrollbar-auto-scrollbar-color-track: #2f3136;
    --elevation-stroke: 0 0 0 0px rgba(4,4,5,0.15);
    --elevation-low: 0 0px 0 rgba(4,4,5,0.2),0 0px 0 rgba(6,6,7,0.05),0 0px 0 rgba(4,4,5,0.05);
    --elevation-medium: 0 4px 4px rgba(0,0,0,0.16);
    --elevation-high: 0 8px 16px rgba(0,0,0,0.24);
    --logo-primary: #fff;
    --focus-primary: #00b0f4;
    --guild-header-text-shadow: 0 1px 1px rgba(0,0,0,0.4);
    --channeltextarea-background: var(--colorNewDefault);
    --activity-card-background: #202225;
    --textbox-markdown-syntax: #8e9297;
    --deprecated-card-bg: rgba(32,34,37,0.6);
    --deprecated-card-editable-bg: rgba(32,34,37,0.3);
    --deprecated-store-bg: #36393f;
    --deprecated-quickswitcher-input-background: #72767d;
    --deprecated-quickswitcher-input-placeholder: hsla(0,0%,100%,0.3);
    --deprecated-text-input-bg: rgba(0,0,0,0.1);
    --deprecated-text-input-border: rgba(0,0,0,0.3);
    --deprecated-text-input-border-hover: #040405;
    --deprecated-text-input-border-disabled: #202225;
    --deprecated-text-input-prefix: #dcddde;
}
/* new discord theme */
.noticeSuccess-3Y62ob,
.menu-3sdvDG#status-picker .item-1tOPte#status-picker-online .statusItem-33LqPf {
    background: var(--colorNewGreen);
}

.menu-3sdvDG#status-picker .item-1tOPte#status-picker-idle .statusItem-33LqPf {
    background:  var(--colorNewYellow)
}

.menu-3sdvDG#status-picker .item-1tOPte#status-picker-dnd .statusItem-33LqPf {
    background:  var(--colorNewRed)
}

.menu-3sdvDG#status-picker .item-1tOPte#status-picker-invisible .statusItem-33LqPf {
    background:  var(--colorNewWhiteAltMuted)
}
.layer-v9HyYc[style*="left: 80px"] .animatorTop-2Y7x2r .menu-3sdvDG#status-picker {
    background:var(--colorNewDark)  !important;
}
.menu-3sdvDG#status-picker .item-1tOPte#status-picker-custom-status {
    background:  var(--colorNewDefault);
}
.menu-3sdvDG#status-picker .item-1tOPte#status-picker-custom-status:hover {
    background: var(--colorNewLight);
}
.theme-dark .popout-2sKjHu {
    border-color: transparent;
    background: var(--colorNewDark);
}
[class^="separator"] {
    border-color: var(--card-border-color);
}
/*
nav[class^='wrapper'],
nav[class^='wrapper']>div[class^='scroller']{
    background:  var(--colorNewDark) !important;
}*/
/*div[class^='channelTextArea'] div[class^='scrollableContainer'] {
    background:  var(--colorNewDefault) !important;
    border: none;
}*/
div[class^='channelTextArea'] div[class^='scrollableContainer'] {
    background:  transparent !important;
    border: none;
}
div[class^='buttons'] div[class^='wrapper'] {
    background:  var(--colorNewDark) !important;
}
div[class^='divider'] span[class^='content'] {
    background: var(--colorNewDefault) !important;
    color: var(--colorNewWhiteAlt);
}
[class^="tooltip"]:first-of-type,
[class^="downloadLink"]:before,
[class^="wrapper"] a:before,
[class^="newMessagesBar"] button:last-child:before,
.bda-dark #bda-qem button:after,
#searchBarInner .checkbox:after,
.tipsy-inner,
[class^="operations"] [class^="anchor"]:before,
[class^="metadataDownload"]:before,
[class^="bubble"] {
	background: var(--colorNewDefaultAlpha) !important;
	color: var(--colorNewWhiteAlt);
}
[class^="colorMuted"]{
    color: var(--colorNewWhiteAltMuted);
}
.wrapper-21YSNc .expandedFolderBackground-2sPsd- + .listItem-2P_4kh .pill-31IEus .item-2hkk8m[style*="opacity: 1; height: 40px"]:after {
    background: transparent;
}
.item-1tOPte {
    color: var(--colorNewWhiteAlt) !important;
}
.wrapper-1-Fsb8 {
    background: var(--colorNewDark) !important;
}
.categoryItemGuildCategory-3MisqI[aria-selected="false"]:hover:before,
.categoryItemDefaultCategory-aBZ6nJ:not(.categoryItemDefaultCategorySelected-_HCKoz):hover:before {
    fill: #fff  !important;
    background: unset !important;
}
.categoryItemGuildCategory-3MisqI[aria-selected="true"]:before,
.categoryItemDefaultCategorySelected-_HCKoz:before  {
    fill: #fff  !important;
    background: unset !important;
}
.privateChannels-1nO12o .channel-2QD9_O {
    color: var(--colorNewWhiteAltMuted) !important;
}
.privateChannels-1nO12o .channel-2QD9_O:hover {
    color: var(--colorNewWhiteAlt) !important;
}
.linkButtonIcon-Mlm5d6 path[fill="currentColor"] {
    fill: var(--colorNewWhiteAlt) !important;
}
#dv-mount {
    background-color: var(--main-color);
}
#dv-mount span {
    color: var(--colorNewWhiteAlt);
}
.typing-2GQL18 {
    background: var(--colorNewDarker);
}
.typing-2GQL18 div {
    color:  var(--colorNewWhiteAlt)   !important;
}
.note-3kmerW textarea, .note-3HfJZ5 textarea {
    border-bottom:  var(--colorNewDefault);
}
.quickMessage-1yeL4E  {
    background: var(--channeltextarea-background) !important;
}
.theme-dark .quickMessage-1yeL4E,
.quickMessage-1yeL4E::placeholder,
.theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6  {
    color: var(--colorNewWhiteAlt) !important;
}
/* - - - - - - - - - hover transitions in lists */
.content-3at_AU,
.layout-2DM8Md,
.listContent-2_qb-y > div,
.emojiItemMedium-_WAwGB,
.theme-dark #bd-settings-sidebar .ui-tab-bar-item,
.side-8zPYf6 .item-PXvHYJ, #bd-settings-sidebar .ui-tab-bar-item, #pubslayer .ui-tab-bar-item,
.privateChannels-1nO12o .channel-2QD9_O {
    transition:  all 0.18s !important;
}
.content-3at_AU:hover,
.layout-2DM8Md:hover,
.listContent-2_qb-y > div:hover,
.emojiItemMedium-_WAwGB:hover,
.theme-dark #bd-settings-sidebar .ui-tab-bar-item:hover,
.side-8zPYf6 .item-PXvHYJ:hover, #bd-settings-sidebar .ui-tab-bar-item:hover, #pubslayer .ui-tab-bar-item:hover,
.privateChannels-1nO12o .channel-2QD9_O:hover {
    transition:  all 0.02s !important;
}
/* - - - - - - - - call btns */
.message-2qnXI6 .buttons-cl5qTG {
    min-width: 106px !important;
    top: 0px;
}

.controlButton-2MhVEL:not(.fauxDisabled-3vmIPo), .controlButton-2MhVEL.fauxDisabled-3vmIPo:hover,.controlButton-2MhVEL:not(.fauxDisabled-3vmIPo):hover {
    background: transparent;
}

.centerButton-3CaNcJ {
    background: var(--colorNewWhite) !important;
}
.centerButton-3CaNcJ:hover {
    background: var(--colorNewWhiteAlt) !important;
}
.colorable-1bkp8v.red-33-Lnk {
    background: var(--colorNewRed) !important;
}
.colorable-1bkp8v.red-33-Lnk:hover {
    background: #C60052 !important;
}
.centerButton-3CaNcJ svg path {
    fill: var(--colorNewDarker) !important;
}
.colorable-1bkp8v.red-33-Lnk  svg path {
    fill: var(--colorNewWhite) !important
}

.colorable-1bkp8v.primary-3NQg8g,
.colorable-1bkp8v.white-3GPOIp {
    background: var(--colorNewWhite) !important;
    color: var(--colorNewDark)
}
.colorable-1bkp8v.primary-3NQg8g:hover,
.colorable-1bkp8v.white-3GPOIp:hover {
    background: var(--colorNewWhiteAlt) !important;
}
    

/* - - - - - - - - - - - - - - - - - - */
.emojiItemMedium-_WAwGB:hover {
    background: var(--colorNewLight);
}

.theme-light .header-2BwW8b.size16-14cGz5:not(.headerNormal-T_seeN) .creationDate, .theme-dark .header-2BwW8b.size16-14cGz5 .creationDate,
.theme-light .header-2BwW8b.size16-14cGz5:not(.headerNormal-T_seeN) .lastMessageDate, .theme-dark .header-2BwW8b.size16-14cGz5 .lastMessageDate,
.headerTag-2pZJzA,
.theme-dark .activityProfile-2bJRaP .content-3JfFJh, .theme-dark .activityProfile-2bJRaP .details-38sfDr, .theme-dark .activityProfile-2bJRaP .name-29ETJS, .theme-dark .activityUserPopout-2yItg2 .content-3JfFJh, .theme-dark .activityUserPopout-2yItg2 .details-38sfDr, .theme-dark .activityUserPopout-2yItg2 .name-29ETJS, .theme-light .activityProfile-2bJRaP .content-3JfFJh, .theme-light .activityProfile-2bJRaP .details-38sfDr, .theme-light .activityProfile-2bJRaP .name-29ETJS, .theme-light .activityUserPopout-2yItg2 .content-3JfFJh, .theme-light .activityUserPopout-2yItg2 .details-38sfDr, .theme-light .activityUserPopout-2yItg2 .name-29ETJS,
.activityName-1IaRLn, .nameNormal-2lqVQK, .nameWrap-3Z4G_9 {
    color: var(--colorNewWhiteAlt);
}

.theme-dark .activityProfile-2bJRaP .headerText-1HLrL7, .theme-dark .activityUserPopout-2yItg2 .headerText-1HLrL7, .theme-light .activityProfile-2bJRaP .headerText-1HLrL7, .theme-light .activityUserPopout-2yItg2 .headerText-1HLrL7,
.bodyTitle-Y0qMQz {
    color: var(--colorNewWhite);
}
.tab-EiCZG6 {
    color: var(--colorNewWhiteAltMuted) !important;
}
.toast.bd-toast.friendnotifications-online-toast {
    background: var(--colorNewDarker);
    color: var(--colorNewWhiteAlt);
    border-radius: 50px;
    box-shadow: 0 0.5rem 0.5rem #00000042;
}
/*
button.emojiButtonNormal-TdumYh.emojiButton-3uL3Aw.emojiButton-pET4wH.button-318s1X.button-38aScr.lookBlank-3eh9lL.colorBrand-3pXr91.grow-q77ONN.noFocus-2C7BQj {
    margin-right: 50px !important;
}*/

li.member-perm.role-3paDXR {
    padding: 15px 0px;
    border-radius: 30px;
}

.faded-3bns_w {
    color: var(--colorNewWhite) !important;
}

.theme-dark .userSettingsAccount-2eMFVR .viewBody-2Qz-jg,
.theme-dark #bd-settings-sidebar .ui-tab-bar-item,
.side-8zPYf6 .item-PXvHYJ[style*="color: rgb(114, 137, 218);"]  {
    color: var(--colorNewWhiteAlt) !important;
}
.theme-dark #bd-settings-sidebar .ui-tab-bar-item:hover {
    color: var(--colorNewWhite);
    background: var(--colorNewDefault);
}
.item-PXvHYJ[style^="color: rgb(240, 71, 71);"] {
    color: var(--colorNewRed) !important;
}
.theme-dark #bd-settings-sidebar .ui-tab-bar-header {
    color: var(--colorNewWhiteAltMuted);
}
.button-F9qN4n {
    background: var(--colorNewDefault);
}
.button-F9qN4n:hover {
    background: var(--colorNewLight);
}
.itemCard-v9viV7:hover,
.itemCard-v9viV7.active-1xchHY {
    background: var(--colorNewDefault) !important;
}
.itemCard-v9viV7>div>div {
    transition: all 0.2s;
}
.itemCard-v9viV7:hover>div>div,
.itemCard-v9viV7.active-1xchHY>div>div {
    background: var(--colorNewLight) !important;
}
.itemCard-v9viV7:hover .inset-3sAvek {
    background-color: var(--colorNewLight) !important;
}


.privateChannels-1nO12o .channel-2QD9_O.selected-aXhQR6 {
    color: var(--colorNewWhite) !important ;
}
.container-1r6BKw .topPill-30KHOu .item-PXvHYJ {
    color: var(--colorNewWhiteAlt) !important ;
}
/*.expandedFolderBackground-2sPsd- {
    background: var(--colorNewDefault);
}*/

.channelHeader-3Gd2xq {
    border-bottom-color: var(--colorNewDark);
    border-bottom-width: 2px;
}
.theme-dark .bd-addon-list .bda-description {
    color: var(--colorNewWhiteAlt);
}
.message-2qnXI6 .buttons-cl5qTG {
    min-width: 106px !important;
    top: 0px;
}

.search-l1Wz-Q input::placeholder, .search-2oPWTC input::placeholder {
    color: var(--colorNewWhiteAlt) !important
}

div#placeholder-ft4jp {
    color: var(--colorNewWhiteAlt);
}
.iconContainer-O4O2CN.da-iconContainer svg path {
    fill: var(--colorNewWhiteAlt)
}
.theme-dark .autocomplete-1vrmpx {
    background: var(--colorNewDark) !important;
    
}

.theme-dark .autocomplete-1vrmpx div,
.theme-dark .autocomplete-1vrmpx h3 {
    color: var(--colorNewWhiteAlt) !important;
}
.theme-dark .autocomplete-1vrmpx svg polygon {
    fill: var(--colorNewWhiteAltMuted) !important;
}
.selector-2IcQBU.selectorSelected-1_M1WV {
    background: var(--colorNewDefault) !important;
}

.expandedFolderBackground-2sPsd- {
    background-color: #E7366B78;
}


.listItem-2P_4kh.bd-selected,
.pill-2uzAFe.bd-selected {
    background: transparent !important;
    /* border-radius: 50%; */
}

.listItem-2P_4kh.bd-selected .blobContainer-239gwq.da-blobContainer,
.pill-2uzAFe.bd-selected .blobContainer-239gwq.da-blobContainer {
    background: #E7366B;
}

.wrapper-21YSNc.da-wrapper .listItem-2P_4kh.da-listItem.bd-guild>div:hover {
    background: #E7366B !important;
}

/*
.listItem-2P_4kh.da-listItem.bd-guild >div:after {
    content: '';
    height: 1px;
    width: calc(100% - 20px);
    border-bottom: 1px solid #ffffff33;
    position: absolute;
    bottom:-1px;
    left: 10px;
}

.wrapper-21YSNc.da-wrapper:after {
    content: '';
    height: 1px;
    width: calc(100% - 20px);
    border-bottom: 1px solid #ffffff33;
    position: absolute;
    bottom:-1px;
    left: 10px;
}*/







/* things ppl  will  never  see in  action */
.theme-dark .verificationBlock-1Chfpc {
    border: 1px solid transparent;
    background-color: var(--colorNewDark);
    box-shadow: 0 0.5rem 0.5rem #00000042;
    transition: all 0.15s;
}
.theme-dark .verificationBlock-1Chfpc:hover {
    background-color: var(--colorNewDarker);
    box-shadow: 0 2rem 1.5rem #00000042;
}
.theme-dark .phoneField-38N1bJ,
.theme-dark .phoneField-38N1bJ .inputField-aNPXsv {
    background-color: var(--colorNewDark);
}
.theme-dark .phoneField-38N1bJ .countryButton-3xq3Ts {
    background-color: var(--colorNewDefault)
}
.theme-dark .phoneField-38N1bJ .countryButton-3xq3Ts:hover {
    background-color: var(--colorNewLight)
}
.theme-dark.authBox-hW6HRx {
    color: var(--colorNewWhiteAlt) !important;
}
.colorHeaderPrimary-26Jzh- {
    color: var(--colorNewWhite);
}
.colorHeaderSecondary-3Sp3Ft {
    color: var(--colorNewWhiteAlt);
}
.h5-18_1nd {
    color: var(--colorNewWhiteAlt);
}
.lookInverted-2D7oAl.colorBrand-3pXr91,
.buttonRedOutlined-2t9fm_,
.lookLink-9FtZy-.colorBrand-3pXr91 {
    color: var(--colorNewWhiteAlt) !important;
}
.authBox-hW6HRx:after {
    border-top-color: var(--colorNewDark);
}
.input-cIJ7To,
.quickMessage-1yeL4E, .bda-slist input {
    border-bottom-color: var(--colorNewDark) !important;
    color: var(--colorNewWhite);
}

/*  end new discord theme */


/*  fixes 12 JUL  2020 */
.buttonContainer-28fw2U.da-buttonContainer {
    margin-left: 10px !important;
}
.buttonContainer-28fw2U.da-buttonContainer>button {
    margin-left: 0;
}
button.emojiButtonNormal-TdumYh.emojiButton-3uL3Aw.da-emojiButtonNormal.da-emojiButton.emojiButton-pET4wH.button-318s1X.da-emojiButton.da-button.button-38aScr.da-button.lookBlank-3eh9lL.colorBrand-3pXr91.grow-q77ONN.da-grow.noFocus-2C7BQj.da-noFocus,
button.emojiButtonHovered-1rWNal.emojiButton-3uL3Aw.da-emojiButtonHovered.da-emojiButton.emojiButton-pET4wH.button-318s1X.da-emojiButton.da-button.button-38aScr.da-button.lookBlank-3eh9lL.colorBrand-3pXr91.grow-q77ONN.da-grow.noFocus-2C7BQj.da-noFocus {
    padding: 0px 10px;
}
.wrapper-1Rf91z .scroller-2TZvBN {
    background-color: var(--colorNewDark);
}



/* discord video call fix 08jul2020 */
.padding-1hXm7M.da-padding {
    height: 0 !important;
}


::selection {
	background: var(--colorNewAccent);
	color: #fff;
	text-shadow: none;
}
.tile-kezkfV.noVerticalMargin-1582Xa {
    min-width: calc(50% - 101px) !important;
    height: 100% !important;
    margin-top: 0px;
}
.videoGridWrapper-2BDlMX {
    padding: unset;
}




.videoGridWrapper-2BDlMX {
    padding: 0px !important;
}

.grid-3HQYal.da-grid {
    height: 100% !important;
}

.tile-kezkfV.da-tile.noVerticalMargin-1582Xa.da-noVerticalMargin {
    /* width: calc(50% - 0px) !important; */
}

.scroller-2FKFPG.da-scroller.systemPad-3UxEGl.da-systemPad.wrapper-vj0FTk.da-wrapper.videoGrid-1khsrF.da-videoGrid {
    padding-left: 0px !important;
}

.tile-kezkfV.da-tile.noVerticalMargin-1582Xa.da-noVerticalMargin.noHorizontalMargin-3pr3HN.da-noHorizontalMargin {
    /* width: calc(50% - 0px) !important; */
    /* margin-right: -8px; */
}

.tile-kezkfV {
    margin-bottom: 0px;
}

/* emoji pickre */
.layerContainer-yqaFcK.da-layerContainer {
}


div[class^="emojiPicker-"] {
        height: 700px !important;
        width: 504px !important;
}

.contentWrapper-2txmjs {
    height: unset !important;
}

.drawerSizingWrapper-27qFHb.da-drawerSizingWrapper {
    width: auto !important;
    bottom: 300px;
}

